.logo-container {
    display: flex;
    align-items: center;
    width: 400px;
    padding: 0 25px;
    box-sizing: border-box;
    background: linear-gradient(270deg, rgba(25,25,25,1) 0%, rgba(32,32,32,1) 100%);
    color: $color-yellow;
    font-size: 30px;
    font-weight: 900;
}