.logo-container {
    display: flex;
    align-items: center;
    flex: 0 0 300px;
    padding: 0 25px;
    box-sizing: border-box;
    background: linear-gradient(270deg, rgba(25,25,25,1) 0%, rgba(32,32,32,1) 100%);
    color: $color-yellow;
    font-size: 38px;
    font-weight: 900;
    // font-family: 'Bungee Inline', cursive;
    // font-family: 'Gluten', cursive;
    // font-family: 'Dangrek', cursive;
    font-family: 'Oxanium', cursive;
    cursor: pointer;
    .logo {
        width: 35px;
        margin-right: 15px;
        object-fit: cover;
    }
    .title {
        line-height: 1;
        position: relative;
        bottom: -4px;
    }
}
