.dashboard-container {
    display: flex;
    align-items: flex-start;
    
    .left-content {
        display: flex;
        align-items: flex-end;
        position: relative;
        min-height: 100vh;
        width: 50%;
        .stock-img {
            position: absolute;
            bottom: 0;
            left: -200px;
            width: 1200px;
            filter: brightness(0.5);
        }
        .logo-container {
            position: absolute;
            top: 60px;
            left: 60px;
            background: transparent;
            font-size: 40px;
            z-index: 100;
            cursor: pointer;
            .logo {
                width: 40px;
            }
        }
    }
    .right-content {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 50%;
        z-index: 10;
        .navbar-container {
            margin-top: 50px;
        }
        .tag-line {
            margin-top: 100px;
            font-size: 70px;
            line-height: 1;
        }
        .description {
            color: $color-yellow;
            margin-top: 100px;
            font-size: 20px;
            word-spacing: 3px;
            width: 75%;
        }
    }
}
