.playlists-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    .content-section {
        display: flex;
        overflow: auto;
        height: 100%;
        .main-view {
            height: 100%;
            width: 100%;
            overflow-y: auto;
            padding: 25px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background: linear-gradient(290deg, rgba(0,0,0,1) 0%, rgba(47,47,49,1) 80%);
        }
    }
    .player-container {
        display: flex;
        align-items: center;
        height: 90px;
        width: 100%;
        background: linear-gradient(90deg, rgba(25,25,25,1) 0%, rgba(32,32,32,1) 100%);
        border-top: 1px solid #707070;
        svg {
            cursor: pointer;
        }
        .info-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 25px;
            flex: 0 0 300px;
            overflow: auto;
            .like {
                min-width: 26px;
                max-width: 26px;
            }
            .info {
                display: flex;
                align-items: center;
                overflow: auto;
                .details {
                    display: flex;
                    flex-direction: column;
                    overflow: auto;
                }
            }
            .album {
                margin-right: 10px;
                cursor: pointer;
                position: relative;
                img {
                    width: 50px;
                    object-fit: cover;
                }
                .placeholder-art {
                    width: 50px;
                    height: 50px;
                    background-color: #555150;
                    cursor: default;
                }
                .expand-icon {
                    position: absolute;
                    top: 1px;
                    right: 1px;
                    background: radial-gradient(circle, rgba(26,26,26,1) 55%, rgba(255,255,255,0) 65%);
                    border-radius: 100%;
                    opacity: 0.8;
                }
            }
            .name {
                color: $color-yellow;
                font-size: 18px;
            }
            .artist {
                font-size: 14px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
        .controls {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;
            padding: 0 25px;
            .disabled {
                pointer-events: none;
                user-select: none;
                cursor: default;
                filter: brightness(0.5);
            }
        }
        .slider {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 0 25px;
            font-size: 12px;
            .range {
                -webkit-appearance: none;
                display: block;
                width: 100%;
                max-width: 600px;
                height: 30px;
                overflow: hidden;
                background: transparent;
                margin: 0 10px;
                cursor: pointer;
                &:focus {
                    outline: none;
                }
                @extend .slider--styles;
            }
            &.disabled {
                pointer-events: none;
                user-select: none;
                cursor: default;
                filter: brightness(0.5);
            }
        }
        .volume {
            display: flex;
            align-items: center;
            padding: 0 25px;
            .range {
                -webkit-appearance: none;
                display: block;
                width: 100px;
                height: 30px;
                overflow: hidden;
                background: transparent;
                margin: 0 10px;
                cursor: pointer;
                &:focus {
                    outline: none;
                }
                @extend .slider--styles;
            }
        }
    }
}

.playlist-container {
    .header {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        padding: 0 10px;
        .icon {
            width: 70px;
            height: 70px;
            background: #555150;
            margin-right: 10px;
        }
        .info {
            line-height: 1.3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .name {
                font-size: 35px;
            }
            .count {
                font-size: 16px;
                color: #aaaaaa;
            }
        }
    }
    .table-container {
        color: white;
        .header-container {
            display: flex;
            align-items: center;
            font-size: 11px;
            text-transform: uppercase;
            border-bottom: 1px solid #707070;
            padding: 5px 0;
            margin-bottom: 10px;
            position: sticky;
            top: -26px;
            background: linear-gradient(350deg, rgba(0,0,0,1) 0%, rgba(47,47,49,1) 80%);
        }
        .song-container {
            display: flex;
            align-items: center;
            padding: 10px 0;
            &.selected {
                .title {
                    color: $color-yellow;
                }
            }
            &:hover {
                background: rgba($color: $color-yellow, $alpha: 0.1);
            }
        }
        .num {
            width: 5%;
            padding-left: 10px;
        }
        .name {
            width: 40%;
            display: flex;
            align-items: center;
            cursor: pointer;
            .album {
                width: 40px;
                height: 40px;
                background: #555150;
                margin-right: 10px;
            }
            .art {
                width: 40px;
                height: 40px;
                object-fit: cover;
                margin-right: 10px;
            }
            .artist {
                font-size: 12px;
                color: #aaaaaa;
            }
        }
        .album {
            width: 35%;
        }
        .year {
            width: 15%;
        }
        .duration {
            width: 10%;
            padding-right: 10px;
            text-align: right;
        }
    }
}
