.signup-container {
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    .signup-block {
        display: flex;
        border-radius: 5px;
        background-color: white;
        overflow: auto;
        .stock-img {
            overflow: hidden;
            background-color: $color-yellow;
            img {
                width: 400px;
                object-fit: cover;
                transform: scale(1.1);
                transform-origin: top;
            }
        }
        .form-container {
            color: black;
            min-width: 400px;
            padding: 20px 30px;
            margin-bottom: 10px;
            .header {
                font-size: 25px;
                font-weight: 600;
                margin-bottom: 30px;
            }
            .description {

            }
            .button-container {
                width: 100%;
                margin-top: 40px;
            }
            .sign-up {
                text-align: center;
                font-size: 15px;
                margin-top: 40px;
                a {
                    text-decoration: none;
                    color: $color-yellow;
                    font-weight: 600;
                    margin-left: 3px;
                }
            }
        }
    }
}